.hero-wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-text {
  font-size: 5rem;
  color: #00ffcc;
  z-index: 1;
  text-align: center;
  margin-bottom: 100px;
}

.verifyCard {
  position: relative;
  z-index: 1;
  isolation: isolate;

  margin: 0 auto;

  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  padding: 35px;

  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 250px;
  gap: 16px;
  text-align: center;
  color: antiquewhite;
}

.verifyCard::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: -1;
  pointer-events: none;
}

.verifyCard h2 {
  color: #00ffcc;
}

.verifyCard p {
  font-size: 1rem;
  opacity: 0.85;
}

.verifyCard button {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  color: #00ffcc;
  font-size: 1rem;
  cursor: pointer;
}

.verifyCard button:hover {
  background: rgba(0, 255, 204, 0.1);
}

.verifyCard button:active {
  background: rgba(0, 255, 204, 0.1);
  transform: translateY(1px);
  box-shadow: inset 0 1px 2px rgba(0, 255, 204, 0.2);
}

.verifyCard a {
  color: #00ffcc;
  text-decoration: none;
  font-size: 0.95rem;
  opacity: 0.8;
}

.verifyCard a:hover {
  opacity: 1;
}
