:host {
  position: absolute;
  inset: 0;
  z-index: -1; /* push host behind */
  pointer-events: none;
}

.stary-background {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100%;
  z-index: -1; /* push fixed layer behind */
  pointer-events: none;
}
