.hero-wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-text {
  font-size: 5rem;
  color: #00ffcc;
  z-index: 1;
  text-align: center;
  margin-bottom: 100px;
}

.signupCard {
  position: relative;
  z-index: 1;
  color: aqua;

  margin: 0 auto;

  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  padding: 35px;
  transition: 0.3s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 350px;
  gap: 25px;
  text-align: center;
}

.signupCard input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  color: #00ffcc;
  font-size: 1rem;
}
.signupCard input:focus {
  outline: none;
  border-bottom-color: #00ffcc;
}

.signupCard button {
  background: transparent;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  color: #00ffcc;
  font-size: 1rem;
}

.signupCard button:hover {
  background: rgba(0, 255, 204, 0.1);
}
.signupCard button:active {
  background: rgba(0, 255, 204, 0.1);
  transform: translateY(1px);
  box-shadow: inset 0 1px 2px rgba(0, 255, 204, 0.2);
}
