header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(11, 14, 20, 0.9);
  backdrop-filter: blur(10px);
  z-index: 100;
  box-shadow: 0 2px 20px rgba(22, 235, 164, 0.2);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.logo {
  height: 60px;
}

.nav-links a {
  color: #d3d3d3;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00ffcc;
}
